rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 사진첩
    match /photos/{allPaths=**} {
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }
    // 막무가내 채팅 사진
    match /banzige/{allPaths=**} {
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }
    // 공지사항 첨부 사진
    match /jmt-notices/{allPaths=**} {
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }
  }
}
